name: Build

# Controls when the action will run. Triggers the workflow on push or pull request events
on:
  push:
    branches:
    - master
    - feature/*
    - bugfix/*
  pull_request:
    branches:
    - master

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    - name: Download and unzip LibTorch
      run: |
        cd libs/
        ./getLibTorch.sh
        cd ..

    - name: Build with CMake
      uses: ashutoshvarma/action-cmake-build@v1
      with:
        # Build directory where build files will be generated
        build-dir: ${{ runner.workspace }}/build
        # CMake build type (Release, Debug, MinSizeRel, RelWithDebInfo)
        build-type: Release
        parallel: 8
